.satu{
  width: 400px;
  height: 100px;
  background-color: aqua;
  overflow: scroll;
  border: 10px dotted red;
}
.dua{
  width: 400px;
  height: 100px;
  background-color: aqua;
  overflow:scroll;
  border: 5px solid green;
}
.tiga{
  width: 400px;
  height: 100px;
  background-color: aqua;
  overflow:scroll;
  border: 20px dashed blue;
}
